<!DOCTYPE html>
<html ng-app="imcApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <!-- 1º passo: Adicionar o CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        
        <script src="App.js" type="text/javascript"></script>
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
    </head>
    <body ng-controller="imcController">
        <div class="container">
        <form>
            <!-- Entrada de dados -->
            <div class="form-group">
                <label>
                    Peso(Kg):<input ng-model="peso" class="form-control"/>
                </label></br>
                <label>
                    Altura(m):<input ng-model="altura" class="form-control"/>
                </label></br>
                <button ng-click="calcularIMC()" class="btn btn-success">
                    Calcular
                </button>
                <button ng-click="esconderIMC()" class="btn btn-danger">
                    Esconder
                </button>
            </div>

            <!-- Saída da informação -->
            <div ng-show="exibeResultados">
                <hr/>
                <div> 
                    IMC: {{ imc | number }}
                </div>
                <div>
                    Situação: {{ situacao }}
                </div>
            </div>
        </form>
        </div>
    </body>
</html>